<div class="small-card__container">
  <div class="small-card-content__container">
    <div class="photo__small-card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT84BN8DdNVPYHC1yhgOGFoeGW8RRLTt2yDvg&usqp=CAU"
        alt=""
        height="200px"
        srcset=""
      />
    </div>
    <div class="tilte__small-card">
      <h1><a href="#">Saiu a nova versão</a></h1>
    </div>
  </div>

  <div class="small-card-separator__container">
    <hr />
  </div>
</div>
