<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://www.pngmart.com/files/22/Color-Splash-PNG-Isolated-Image.png"
      cardTitle="Novas Tecnologias"
      cardDescription="Lorem ipsum dolor sit amet. Ut ullam modi hic odit quia non dolor quasi sit quis ducimus est omnis dignissimos et repellendus porro et doloribus reiciendis."
    >
    </app-big-card>

    <app-big-card
      Id="1"
      photoCover="https://www.pngmart.com/files/22/Color-Splash-PNG-Isolated-Image.png"
      cardTitle="Novas Tecnologias"
      cardDescription="Lorem ipsum dolor sit amet. Ut ullam modi hic odit quia non dolor quasi sit quis ducimus est omnis dignissimos et repellendus porro et doloribus reiciendis."
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Sit sequi nemo non mollitia illum sit earum quia est quidem nihil est necessitatibus iste? "
      photoCover="https://www.pngmart.com/files/20/Youtube-Logo-PNG-Photos.png"
    >
    </app-small-card>
    <app-small-card
      Id="3"
      cardTitle="Conheça um novo App para troca de Mensagens"
      photoCover="https://www.pngmart.com/files/20/Talking-Comment-PNG-Photo.png"
    ></app-small-card>
    <app-small-card
      Id="4"
      cardTitle="Porque o Twitter agora é chamado de X?"
      photoCover="https://www.pngmart.com/files/5/Twitter-PNG-Transparent.png"
    ></app-small-card>
  </div>
</div>
