<div class="menu-bar__container">
  <ul>
    <li>
      <div class="photo-menu-bar__container">
        <a href="https://www.linkedin.com/in/andrehferreira1/" target="_blank">
          <img src="{{ photoCover }}" alt="Linkedin"
        /></a>
      </div>
    </li>
    <li>
      <div class="photo-menu-bar__git">
        <a href="https://github.com/ahferreira01" target="_blank"
          ><img src="{{ photoGit }}" alt="Github"
        /></a>
      </div>
    </li>
    <li>
      <div class="photo-menu-bar__yt">
        <a href="https://www.youtube.com" target="_blank"
          ><img src="{{ photoYt }}" alt="Youtube"
        /></a>
      </div>
    </li>
  </ul>
</div>
